body{
    background-color: skyblue;

}

@media screen and (min-width: 625px) {
    body {
      background-color: darkblue;
    }
  }

@media (min-width:320px)  { /* Moblie */ }
@media (min-width:1025px) { /* Tablets and Desktops */ }
@media (min-width:1281px) { /* Desktops */ }

h2{
    color: orange;
}

form{
    color: orange;
}


.sun{
    

    height: 100px;
    width: 100px;

    background-color: orange;
    border-radius: 50%;
    margin-bottom: 200px;
    /* align-items: end; */
    margin-right: 0px;
    margin-left: auto;
    
   
    /* float: right; */
    
}

#grass{

    height: 30px;
    width: 100%;
    background-color: green;
    z-index: 1;


}

.squares{

    display: flex;
    margin-left: 10px;


}

.gray{
   
    background-color: gray;
    height: 40vh;
    width: 5vw;
    margin-right: 10px;

}

.darkgray{
   
    background-color: darkgray;
    height: 40vh;
    width: 7vw;
    margin-right: 10px;

}

.arrow-up {
    /* width: 0; 
    height: 0;  */
    /* height: 100px; */
    width: 0px;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    
    border-bottom: 210px solid lightgreen;

    margin-right: 25px;
    margin-left: auto;
  }


form{

    border: 4px solid orange;


}
